<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JS Method 월드컵</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap");
      * {
        font-family: "Gowun Dodum", sans-serif;
      }
      button {
        font-family: "Gowun Dodum", sans-serif;
        margin: 15px;
      }
      html {
        background-color: #ffe882;
      }
      .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 50px;
      }
    </style>
    <!-- <link rel="stylesheet" href="default.css"> -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>


  <body>
    <div class="content">
      <div class="title">
        <h3>&#128681;JavaScript 메서드 월드컵&#128681;</h3>
      </div>
      <div class="subtitle">
        <h5>둘 중 더 좋은 자바스크립트 메서드는?</h5>
      </div>

      <div class="start_btn">
        <button class="button is-primary is-light is-medium">다음</button>
      </div>
      <div class="ranking_dtn">
        <button class="button is-link is-light">홈으로 돌아가기</button>
      </div>
    </div>
  </body>
</html>
<script>
  function shuffle(array) {
    array.sort(() => Math.random() - 0.5);
  }

  axios
    .get("/funcs")
    .then((result) => {
      items = result.data;
      shuffle(items);
      console.log(items);
    })
    .catch((err) => {
      throw err;
    });
</script>
